
//$mobile: 360px;
//$mobileLarge: 480px;
//$table: 600px;
//$desktop: 960px;
//$desktopLarge: 1200px;
$desktopExtraLarge: 1440px;

$color-dark: #000;
$color-light-xl: #fff;

//color-light-xl
//fff
//color-light-l
//F6F6F6
//color-light-s
//FAFAFA


